stages:
    - quality
    - build

biome:
    image:
        name: ghcr.io/biomejs/biome:latest
        entrypoint: [""]
    stage: quality
    script:
        - biome ci --verbose
        - biome ci --reporter=gitlab --colors=off > /tmp/code-quality.json
        - cp /tmp/code-quality.json code-quality.json
    artifacts:
        reports:
            codequality: code-quality.json
        paths:
            - code-quality.json
    rules:
        - if: $CI_COMMIT_BRANCH
        - if: $CI_MERGE_REQUEST_ID

docker-build:
    image: docker:latest
    stage: build
    services:
        - name: docker:dind
          command: ["--tls=false"]
    tags:
        - privileged
    variables:
        DOCKER_DRIVER: overlay2
        DOCKER_HOST: tcp://docker:2375
        DOCKER_TLS_CERTDIR: ""
    before_script:
        - echo "$DOCKER_REGISTRY_TOKEN" | docker login -u "$DOCKER_REGISTRY_USER" --password-stdin "$DOCKER_REGISTRY"
    script:
        - docker build -t $DOCKER_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
        - docker tag $DOCKER_IMAGE_NAME:$CI_COMMIT_SHORT_SHA $DOCKER_IMAGE_NAME:$CI_COMMIT_BRANCH
        - docker push $DOCKER_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
        - docker push $DOCKER_IMAGE_NAME:$CI_COMMIT_BRANCH
        - |
          if [ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]; then
            docker tag $DOCKER_IMAGE_NAME:$CI_COMMIT_SHORT_SHA $DOCKER_IMAGE_NAME:latest
            docker push $DOCKER_IMAGE_NAME:latest
          fi
    rules:
        - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
        - if: $CI_COMMIT_BRANCH == "dev"
